<p>Hello <%= @user.profile.full_name ? @user.profile.full_name : @user.profile.name %>,</p>
<p>You can reset your password through the link below.</p>

<p><%= link_to 'Change my password', "#{@url + @token}" %></p>

<p>If you didn't request this, please let me know. <br>
Your password won't change until you access the link above and create a new one.</p>

<p>Dan at Two Marshmallows<p>
