h3 Hang On #{@profile.full_name}

p Your TwoMarshmallows experience is ready for us to approve

p Lets see what goodies we have there for you 

p Once we are done, you will be given your own password to join the Marshmallows

p TwoMarshmallows Team