<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
  <div class="container-fluid container-p-x pb-3">    
    <a href="http://www.attribes.com" class="footer-link pt-3">Powered by <strong>Attribe Solutions</strong></a>
    
  </div>
</nav>
<!-- / Layout footer -->
